<!DOCTYPE html>
<html>
<head>

    <link href='/static/style.css' rel='stylesheet' type='text/css' >
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link rel='shortcut icon' href='/static/globe_full.png' type='image/x-icon'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Filings Tool</title>
    <script>
            var toggleHidden = function() {
                var elems = document.getElementsByClassName("toggle");
                for (var i=0; i < elems.length; i++) {
                    if (elems[i].hasAttribute("hidden")) {
                        elems[i].removeAttribute("hidden");
                    } else {
                        elems[i].setAttribute("hidden", "hidden");
                    }
                }
                var elem = document.getElementById("showhide");
                if (elem.innerHTML == "(+) ") {
                    elem.innerHTML = "(-) "
                } else {
                    elem.innerHTML = "(+) "
                }
            }
    </script>

</head>

<body>

{% block content %}
{% endblock %}

<footer>
    <div class="follow">
        Follow me on: 
        <a href="https://github.com/dmarkell">github</a>, 
        <a href="https://twitter.com/dmarkell">twitter</a>, 
        <a href="http://dmarkell.tumblr.com/">tumblr</a>
    </div>
</footer>

</body>
<script src="/static/main.js"></script>

</html>