{% extends "search.html" %}
{% block company %}


<table>
    <caption>
        <div>{{meta['name']}} ({{meta['ticker']}})</div>
        <div class="small">
            <div class="left">
                Close: {{prices[0]['AdjClose']}}
                <time datetime="{{prices[0]['Date']}}">({{prices[0]['Date']}})</time>
            </div>
            {% if metrics %}
            <div class="right">Shs: {{metrics['shs']}}</div>
            {% endif %}
        </div>
    </caption>
    {% if metrics %}
    <thead>
        <tr>
            <th></th>
            <th></th>
            {% for year in metrics['years'] %}
            <th>{{year}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for month in metrics['months'] %}
            {% set m = loop.index0 %}
            <tr>
                <th>{{month[1]}}</th>
                <th>Revenue</th>
                {% for year in metrics['years'] %}
                    {% set y = loop.index0 %}
                    <td>
                        {% if metrics['revenues'][y][m] %}
                            {{metrics['revenues'][y][m]}}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <th>{{month[1]}}</th>
                <th>EPS</th>
                {% for year in metrics['years'] %}
                    {% set y = loop.index0 %}
                    <td>
                        {% if metrics['eps'][y][m] %}
                            {{metrics['eps'][y][m]}}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <th>{{month[1]}}</th>
                <th>Filed</th>
                {% for year in metrics['years'] %}
                    {% set y = loop.index0 %}
                    <td>
                        {% if metrics['filedates'][y][m] %}
                            {{metrics['filedates'][y][m]}}
                        {% endif %}
                    </td>
                    {% endfor %}
            </tr>
        {% endfor %}

        <tr>
            <th>Year</th>
            <th>Revenue</th>
            {% for year in metrics['years'] %}
                {% set y = loop.index0 %}
                <td>{{metrics['revenue_totals'][y]}}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Year</th>
            <th>EPS</th>
            {% for year in metrics['years'] %}
                {% set y = loop.index0 %}
                <td>{{metrics['eps_totals'][y]}}</td>
            {% endfor %}
        </tr>
    </tbody>
    {% endif %}
</table>
{% if metrics %}
<p>Values in {{metrics['unit'][1]}} USD except per share amounts</p>
{% endif %}

<div class="chart"></div>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script>JSONData = {{prices | safe}}</script>
<script src="/static/d3chart.js"></script>

{% endblock %}