{% extends "base.html" %}

{% block content %}

    <header>
        <h1>Filings Search Tool</h1>
        <div class="menu">

            <form id="inst-holders" autocomplete="off" method="post">
                <input type="hidden" name="manager_full" value="{{manager_full}}">
                {% if not (filings or mgr_matches) %}
                <table>
                    <tr>
                        <td>M<span>ana</span>g<span>e</span>r</td>
                        <td><input type="radio" value="holder" name="querytype" onChange="toggleQuery()" checked></td>
                    </tr>
                    <tr>
                        <td>Co<span>mpany</span></td>
                        <td><input onChange="toggleQuery()" type="radio" value="company" name="querytype"></td>
                    </tr>
                </table>
                {% endif %}
                <div class="input-wrapper">
                    {% if not (filings or mgr_matches) %}
                    <input type="search" id="query" name="query"
                    value="{{query}}" placeholder="Manager...">
                    <input type="submit" class="search" value="Search">
                    {% endif %}
                    {% if mgr_matches %}
                    <select autofocus="autofocus" id="managerselect" name="mgrurl">
                        {% for match in mgr_matches %}
                        <option value={{match[0]}}>
                            {{match[1]}}
                        </option>
                        {% endfor %}
                    </select>
                    <input type="submit" class="select" value="Select">
                    {% endif %}
                    {% if filings %}
                    <select autofocus="autofocus" id="dateselect" name="filing_slug">
                        {% for filing in filings %}
                        <option value={{filing[0]}}>
                            {{filing[1]}}
                        </option>
                        {% endfor %}
                    </select>
                    <input type="submit" class="select" value="Select">
                    {% endif %}
                </div>
            </form>

        </div>
    </header>
    <div class="wrapper">
        <div class="message {{error}}">{{message}}</div>
        <div class="manager">
            {% block manager %}
            {% endblock %}
        </div>

        <div class ="company">
            {% block company %}
            {% endblock %}
        </div>

    </div>

{% endblock %}