{% extends "base.html" %}

{% block content %}

    <header>
        <h1>Filings Search Tool</h1>
        <div class="menu">

            <form id="inst-holders" autocomplete="off" method="post">
                <input type="hidden" name="manager_full" value="{{manager_full}}">
                {% if not (filings or mgr_matches) %}
                    <div class="input-wrapper">
                        <input type="search" id="manager" name="manager"
                        value="{{manager}}" placeholder="Manager Name...">
                        <input type="submit" class="search" value="Search">
                    </div>
                    {% if error %}
                    <div class="message error">{{error}}</div>
                    {% endif %}
                {% endif %}
                
                {% if mgr_matches %}
                
                <div class="input-wrapper">
                    <select autofocus="autofocus" id="managerselect" name="mgrurl">
                        {% for match in mgr_matches %}
                        <option value={{match[0]}}>
                            {{match[1]}}
                        </option>
                        {% endfor %}
                    </select>
                    <input type="submit" class="select" value="Select">
                </div>
                {% endif %}
                
                {% if filings %}
                <div class="input-wrapper">
                    <select autofocus="autofocus" id="dateselect" name="filing_slug">
                        {% for filing in filings %}
                        <option value={{filing[0]}}>
                            {{filing[1]}}
                        </option>
                        {% endfor %}
                    </select>
                    <input type="submit" class="select" value="Select">
                </div>
                {% endif %}

            {% if filings or mgr_matches %}
            <div class="message">
                {{message}}
            </div>
            {% endif %}
            </form>

        </div>
    </header>
    <div class="wrapper">
        <div class="manager">
            {% block manager %}
            {% endblock %}
        </div>

        <div class ="company">
            {% block company %}
            {% endblock %}
        </div>

    </div>

{% endblock %}